<footer class="footer py-3" style="
    height: 60px;
    width: 100%;
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: #f5f5f5;">
        <div class="container">
            <span class="text-muted">Made by <a href="https://github.com/KleitonBarone">Kleiton Barone</a></span>
        </div>
    </footer>