<h1>{{usuario.nome}}</h1>
<hr>
<h6 class="my-2 text-muted">
        <div class="row">
            
            <div class="col">
            Foto: (Não Implementado) <!--todo-->
            </div>

        </div>
        <div class="row">
            
            <div class="col-4">
            email: {{usuario.email}}
            </div>
        </div>
            {{#if usuario.isAdmin}}
            <div class="row">
            
            <div class="col">
            Esse Usuario é um administrador.
            </div>

            </div>
            {{/if}}
        
        
</h6>
{{#if user}}

    {{#ifEquals user.id usuario.id}}
        <form action="/usuarios/editar" method="POST">
                    <input type="hidden" name="id" value="{{user.id}}">
                    <button type="submit" class="btn btn-danger">Editar</button>
        </form>
    {{/ifEquals}}

{{/if}}
<hr>